<div class="banner hero d-flex" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= image_path("beachphoto.png") %>')">
  <div class="hero-text">

    <h1>Don't Stop (Me) Now: Rent a Bike!</h1>
    <p>You want to ride your bicycle, biiicycle, BICYCLE</p>
    <a class="btn btn-flat" href="#">I want to bike free!</a>
    <%# link_to "Book now", "#", class: "btn btn-flat" %>
  </div>
</div>

<%# one primary color for call to action : darker blue %>
<%# less usage of bright color so there is one stop to click: use the yellow %>
<%# titles and headers in blue, card detail in blue, imp button then yellow/orange. blue as a main, call to actions yellow %>
