<div
  class="banner hero d-flex"
  data-navbar-target="banner"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url('<%= image_path("banner-photo.png") %>')"
  >

  <div class="hero-text">
    <h1>Freddie's Fiets</h1>
    <h2>Don't Stop (Me) Now, I Want To Bike Free!</h2>
    <%# <a class="btn btn-flat mt-5" href="bikes">I want to bike free!</a> %>
    <%= render "components/searchform" %>
    <div class="second-space">
    invisible text
    </div>
  </div>
</div>

<%# one primary color for call to action : darker blue %>
<%# less usage of bright color so there is one stop to click: use the yellow %>
<%# titles and headers in blue, card detail in blue, imp button then yellow/orange. blue as a main, call to actions yellow %>
