<a class="btn btn-ghost" href="#">Write a story</a>
<a class="btn btn-gradient" href="#">Start now</a>


<%#= link_to "Write a story", "#", class: "btn btn-ghost" %>
<%#= link_to "Book now", "#", class: "btn btn-flat" %>
<%#= link_to "Start now", "#", class: "btn btn-gradient" %>
