<div class=" display-buttons-filter ">
  <% @categories = ['City bike', 'Road bike', 'BMX bike', 'Cargo bike', 'Mountain bike', 'Fixie bike'] %>
    <% @categories.each do |cat| %>
    <%= link_to cat, filter_path(bike_type: cat), class: "btn truncate btn-ghost" %>
  <% end %>
</div>
