<div class="card-category p-4 flex-column align-items-start" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path(booking.bike.photo.key) %>')">
  <p class="card-text"><%= booking.bike.name %></p>
  <p class="card-text"><%= (booking.end_date-booking.start_date).to_i %> days</p>
</div>
