<div class="card-trip">
  <div class="bike-link-image">
  <%= link_to cl_image_tag(bike.photo.key), bike_path(bike) %>
  </div>
  <div class="card-trip-infos">
    <div>
      <h2><%= bike.name %></h2>
      <p><%= bike.location %></p>
    </div>
    <h2 class="card-trip-pricing">€<%= bike.price %></h2>
  </div>
</div>
