// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$ff_primary: #FAE933;
$ff_primary_dark: #d0c125;

$ff_secondary: #557587;
$ff_secondary_dark: #3f7e98;


$ff_tertiary:#363330;
