.navbar {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100vw;
  justify-content: space-between;
}



.navbar-transparent {
  margin-top: .5rem;
  background-color: rgba(255,255,255,0);
    & .navbar-brand img {
    width: 100px !important;
    margin: -6px 0;
    border-radius: 50%;
    // background-color: rgba($color: #fff, $alpha: .3);

    // border: 1px white solid;
    }
    & .navbar-nav a{
      font-weight: 600;
      color: white !important;
    }

  }
.navbar-yellow {
  background-color: $ff_primary;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 55px;
  margin: -6px 0;
  border-radius: 50%;
}
.navbar-lewagon .navbar-brand {
  padding: 0;
}
.nav-item{
  font-weight: 600;
  color: $black;
}
