.navbar {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100vw;
  justify-content: space-between;
}



.navbar-transparent {
  background-color: none;
  transition: all .3s ease-in;

  .nav-link{
    color: white;
    // text-shadow: 0px 0px 6px rgba(255,255,255,0.7); // glow shadow
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3); // simple shadow
    transition: all .3s ease-in;

  }
  .navbar-brand img{
    width: 71px !important;
    transition: all .3s ease-in;
  }
}
.navbar-yellow {
  background-color: $ff_primary;
  transition: all .3s ease-in;

}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 55px;
  margin: -6px 0;
  border-radius: 50%;
  transition: all .3s ease-in;
}
.navbar-lewagon .navbar-brand {
  padding: 0;
}
.nav-item{
  font-weight: 600;
  color: $black;
}
