<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/alvarotrujillo/freddies-fiets" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/explore/tags/fiets/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://twitter.com/search?q=bikes&src=typed_query" target="_blank"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="authors">
    <h6>Developed on Ruby on Rails by
    <a href="https://github.com/A-drienne" target="_blank">Adrienne</a>,
    <a href="https://github.com/alvarotrujillo" target="_blank">Alvaro</a>,
    <a href="https://github.com/lcalazansl" target="_blank">Lucas</a> &
    <a href="https://github.com/onofrecc" target="_blank">OnO</a>
    </h6>
  </div>
</div>
