<%= render "components/banner" %>
<div class="container index">
<%= render "components/buttonfilter"%>
  <h2 class="subheading">Greatests hits</h2>
  <div class="cards">
    <% displayed_bikes = @bikes.sample((6)) %>
    <% displayed_bikes.each do |bike| %>
    <%= render "components/cardtrip", bike: bike %>
    <% end %>
  </div>
</div>
