<%= render "components/banner" %>


<div class="container">
  <h3>Crazy little thing called fiets- Check out the most popular bikes!</h3>
  <ul class="container d-flex">
    <li class="card"> Rolls-Royce Bike <br> "Insert photo here" </li>
    <li class="card"> Most comfortable city bike! <br> "Insert photo here" </li>
  </ul>
</div>
