.banner {
  background-size: cover;
  background-position: center;
  // padding: 150px 0;
  // width: 100%;
  height: 100vh;
  // overflow: hidden;
  // position: relative;
  z-index: 0;
  flex-direction: column;
  justify-content: center;
}

.hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.hero-text {
  width: 100%;
  // height: 100vh;
  display: flex;
  z-index: 10;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $ff_tertiary;
}

.hero-text h1 {
  margin: 0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 24px;
}

.hero-text p {
  font-size: 24px;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  margin-bottom: 24px;
}
