.banner {
  background-size: cover;
  background-position: center;
  // padding: 150px 0;
  // width: 100%;
  height: 100vh;
  // overflow: hidden;
  // position: relative;
  z-index: 0;
  flex-direction: column;
  justify-content: center;
}

.hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.hero-text {
  width: 100%;
  // height: 100vh;
  display: flex;
  // z-index: 10;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $ff_tertiary;
}

.hero-text h1 {
  color: $yellow;
  font-family: "Cinzel", serif !important;
  margin: 0;
  text-shadow: 4px 3px 4px rgba(0,0,0,0.5);
  font-size: 104px;
  font-weight: bold;
  margin-bottom: 0px;
}

.hero-text h2 {
  color: white;
  font-weight: normal;
  padding-bottom: 1.5rem;
}

.second-space {
  margin-top: 150px;
  opacity: 0;
  text-shadow: 4px 3px 4px rgba(0,0,0,0.5);
  font-family: "Aboreto", "cursive";
  font-weight: 600;
}

.hero-text p {

  font-size: 24px;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  margin-bottom: 0px;
}
