.btn {
  color: white;
  background: $ff_secondary;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

.btn-ghost {
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost a {
  color: white;
}

.btn-ghost:hover {
  opacity: 1;
  background: $ff_secondary_dark;
  color: white;
  border-color: white;
}

.btn-flat {
  padding: 8px 24px;
  border-radius: 4px;
  transition: background 0.3s ease;
  font-size: 24px;
  background: $ff_secondary;
}

.btn-flat:hover {
  background: $ff_secondary_dark;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}
