.search-form-control {
  position: relative;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
  font-size: 12px;
  color: black;
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
}

.search-form-control .form-control:focus {
  border: 1px solid $ff_primary;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}
.form-control{
  width: 24rem;
}

.btn-banner {
  background-color: $ff_primary;
}
